# Ignore virtual environments
warehouse_env/
venv/
.conda_envs_dir_test

# Ignore environment variables
.env
    
# Ignore structured data folders
datasets/
data/

# Ignore large video and audio files
videos/
*.mp4
*.m4a
*.avi
*.jpg
*.png
*.jpeg

# Ignore YOLO weights and model runs (BUT ALLOW best.pt)
models/*.pt
!models/best.pt
*.pt
runs/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore testing caches
.pytest_cache/

# Ignore generated reports so you don't leak customer data
wms_session_report.csv
*.csv

# Ignore package manager caches
pkgs/

# Ignore databases
*.db

# Ignore IDEs and configs
.vscode/

# Dashboard - ignore user uploads, generated outputs, and frame thumbnails
dashboard/uploads/
dashboard/outputs/
dashboard/static/*_frame.jpg