# Ignore virtual environments
warehouse_env/
venv/
.conda_envs_dir_test

# Ignore Datasets
dataset/
ds1/
ds2/
ds3/

# Ignore large video and audio files
*.mp4
*.m4a
*.avi
*.jpg
*.png

# Ignore YOLO weights and model runs (BUT ALLOW best.pt)
*.pt
!best.pt
runs/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore generated reports so you don't leak customer data
wms_session_report.csv

# Ignore package manager caches
pkgs/

# Dashboard - ignore user uploads, generated outputs, and frame thumbnails
dashboard/uploads/
dashboard/outputs/
dashboard/static/*_frame.jpg